cache=/home/hts/.xmltv/tv_grab_sd_json.cache
channel-id-format=default
username={{ schedules_direct_username }}
password={{ schedules_direct_password }}
mode=lineup
lineup={{ schedules_direct_lineup }}
